@use 'formLogin.scss';
@use 'layout.scss';
@use 'products.scss';
@use 'aside.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul, ol {
  padding-left: 0;
  margin: 0;
}

hr{
    border: 1px solid white;
}

body {
    background-color: #1b1b1b;
}

