$color-borde: #03f484;
$fontPage: "monospace";


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
}

#layout__header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #141414;
    z-index: 1000;

    .layout__header--logo {
        width: 4rem;
        height: 3rem;
    }

    #logo_container {
        margin-top: 0.3rem;
        margin-left: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        border: 2px solid;
        border-radius: 50%;
        animation: cicloDeColorBorde 1s linear infinite;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
    }

    @keyframes cicloDeColorBorde {
        0% {
            border-color: white;
        }

        45% {
            border-color: white;
        }

        50% {
            border-color: $color-borde;
        }

        80% {
            border-color: $color-borde;
        }

        85% {
            border-color: $color-borde;
        }

        90% {
            border-color: white;
        }

        100% {
            border-color: white;
        }
    }

    .nav__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        height: 100%;

        .nav__item--link {
            color: white;
            text-decoration: none;
            color: #0f0;
            font-family: $fontPage;
            text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
            font-size: 1.3rem;
        }
    }
}

#layout__content {
    display: flex;
    flex-flow: row wrap;
    padding-top: 5rem;
    min-height: 100vh;
    width: 95%;
    margin-left: 2.2rem;
    border: 1px solid white;

    .cards__container {
        margin-left: 5rem;
        margin-right: 1rem;
        display: flex;
        position: static;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #buttonProducts__container {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .button--change {
        width: 7rem !important;
        margin-right: 1rem;
        font-size: 12px;
        height: 2rem;
        background-color: $color-borde;
        font-family: $fontPage;
    }
    }

    

    .card__product {
        outline: 2px solid red;
    }

    .form-page {
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 22rem;
        height: 20rem;
        background: transparent;
        color: #0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
        letter-spacing: 3px;
        text-shadow: 0 0 10px #0f0;
        border-radius: 14px;
        overflow: hidden;

        input[type=submit] {
            height: 2rem;
            background-color: #141414;
            color: #03f484;
            cursor: pointer;
            font-family: $fontPage;
            font-size: 15px;
            width: 17rem;
        }

        input[type=submit]:hover {
            background-color: #03f484;
            box-shadow: 0 0 10px #0f0, 0 0 10px #0f0, 0 0 10px #0f0;
            color: white;
        }

        .login-input:focus {
            box-shadow: 0 0 10px #0f0, 0 0 10px #0f0, 0 0 10px #0f0;
        }

        .labels-login {
            font-family: $fontPage;
            color: white;
            width: 17rem;
            margin-bottom: 1rem;
            font-size: 17px;
        }

        .login-input {
            margin-bottom: 2rem;
            height: 1.5rem;
            border-radius: 10px;
            width: 17rem;
            font-size: 12px;
        }
    }

    .form-page::before {
        content: "";
        position: absolute;
        inset: -4px;
        border-radius: inherit;

        background: conic-gradient(from 0deg,
                transparent 0%,
                #00ff00 10%,
                #b3ffb3 20%,
                transparent 30%,
                #00ff00 40%,
                transparent 60%,
                #b3ffb3 75%,
                transparent 100%);

        animation: spin 1.2s linear infinite;
        z-index: 0;
    }

    .form-page::after {
        content: "";
        position: absolute;
        inset: 4px;
        border-radius: inherit;
        background: #000;
        z-index: 1;
    }

    .form-page>* {
        position: relative;
        z-index: 2;
    }

    .product--text {
        font-size: 12px;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

#footer {
    color: white;
}