@use 'formLogin.scss';
@use 'layout.scss';
@use 'products.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

hr{
    border: 1px solid white;
}

body {
    background-color: #1b1b1b;
}

